<div class="aside search">
	<div><h2>Refine your search</h2></div>
	<form>
		<div class="exlayouttable"><ol class="questions form-section">
			<li>
				<label for="query"><span class="label">Keyword</span></label>
				<input type="text" maxlength="60" size="40" value="" name="query" id="query" />
			</li>
			<li>
				<label for="Category"><span class="label">Category</span></label>
				<select size="7" id="Category" name="Category">
					<option value="" selected="selected">All</option>
					<option>Aboriginal and Torres Strait Islander peoples</option>
					<option>About Queensland and its government</option>
					<option>Community support</option>
					<option>Education and training</option>
					<option>Emergency services and safety</option>
					<option>Employment and jobs</option>
					<option>Environment, land and water</option>
					<option>Health and wellbeing</option>
					<option>Homes and housing</option>
					<option>Parents and families</option>
					<option>People with disability</option>
					<option>Recreation, sports and arts</option>
					<option>Seniors</option>
					<option>Transport and motoring</option>
					<option>Your rights, crime and the law</option>
					<option>Youth</option>
				</select>
			</li>

			<li> 
				<label for="Agency"><span class="label">Department or organisation</span></label>
				<select size="7" name="Agency" id="Agency">
					<option value="" selected="selected">All</option>
					<option value="DATSIMA">Aboriginal and Torres Strait Islander and Multicultural Affairs</option>
					<option value="DAFF">Agriculture, Fisheries and Forestry</option>
					<option value="DCCSDS">Communities, Child Safety and Disability Services</option> 
					<option value="DETE">Education, Training and Employment</option>
					<option value="DEWS">Energy and Water Supply</option>
					<option value="DEHP">Environment and Heritage Protection</option>
					<option value="QH">Health</option>
					<option value="DHPW">Housing and Public Works</option>
					<option value="DJAG">Justice and Attorney-General</option> 
					<option value="DLGCRR">Local Government, Community Recovery and Resilience</option>
					<option value="DNPRSR">National Parks, Recreation, Sport and Racing</option> 
					<option value="DNRM">Natural Resources and Mines</option>
					<option value="QPS">Police</option>
					<option value="DPC">Premier and Cabinet</option>
					<option value="QFES">Queensland Fire and Emergency Services</option>
					<option value="DSITIA">Science, Information Technology, Innovation and the Arts</option>
					<option value="DSDIP">State Development, Infrastructure and Planning</option>
					<option value="DTESB">Tourism, Major Events, Small Business and the Commonwealth Games</option>
					<option value="DTMR">Transport and Main Roads</option>
					<option value="QTT">Treasury and Trade</option>
				</select>
			</li>
			<li>
				<label for="FinancialYear"><span class="label">Financial year</span></label>
				<select id="FinancialYear" name="FinancialYear">
					<option>2014-15</option>
					<option>2013-14</option>
				</select>
			</li>
		</ol></div>	
		<ol class="footer-section questions">
			<li class="footer">
				<ul class="actions">
					<li><strong><input type="submit" value="Search" /></strong></li>
				</ul>
			</li>
		</ol>	
	</form>
</div>