<div class="aside search">
	<div><h2>Refine your search</h2></div>
	<form>
		<div class="exlayouttable"><ol class="questions form-section">
			<li>
				<label for="query"><span class="label">Keyword</span></label>
				<input type="text" maxlength="60" size="40" value="" name="query" id="query" />
			</li>
			<li>
				<label for="ABN"><span class="label">ABN</span></label>
				<input type="text" maxlength="60" size="40" value="" name="ABN" id="ABN" />
			</li>
			<li>
				<label for="Category"><span class="label">Category</span></label>
				<select size="7" id="Category" name="Category">
					<option selected="selected" value="">Select a category...</option>
					<option>Aboriginal and Torres Strait Islander peoples</option>
					<option>About Queensland and its government</option>
					<option>Community support</option>
					<option>Education and training</option>
					<option>Emergency services and safety</option>
					<option>Employment and jobs</option>
					<option>Environment, land and water</option>
					<option>Health and wellbeing</option>
					<option>Homes and housing</option>
					<option>Parents and families</option>
					<option>People with disability</option>
					<option>Recreation, sports and arts</option>
					<option>Seniors</option>
					<option>Transport and motoring</option>
					<option>Your rights, crime and the law</option>
					<option>Youth</option>
				</select>
			</li>
			<li> 
				<label for="LGA"><span class="label">Local government area</span></label>
				<select size="7" name="LGA" id="LGA">
					<option selected="selected" value="">Select an area...</option>
					<option>Aurukun (S)</option>
					<option>Balonne (S)</option>
					<option>Banana (S)</option>
					<option>Barcaldine (R)</option>
					<option>Barcoo (S)</option>
					<option>Blackall Tambo (R)</option>
					<option>Boulia (S)</option>
					<option>Brisbane (C)</option>
					<option>Bundaberg (R)</option>
					<option>Burdekin (S)</option>
					<option>Cairns (R)</option>
					<option>Carpentaria (S)</option>
					<option>Cassowary Coast (R)</option>
					<option>Central Highlands (R)</option>
					<option>Charters Towers (R)</option>
					<option>Cherbourg (S)</option>
					<option>Cloncurry (S)</option>
					<option>Cook (S)</option>
					<option>Diamantina (S)</option>
					<option>Doomadgee (S)</option>
					<option>Douglas (S)</option>
					<option>Etheridge (S)</option>
					<option>Flinders (S)</option>
					<option>Fraser Coast (R)</option>
					<option>Gladstone (R)</option>
					<option>Gold Coast (C)</option>
					<option>Goondiwindi (R)</option>
					<option>Gympie (R)</option>
					<option>Hinchinbrook (S)</option>
					<option>Hope Vale (S)</option>
					<option>Ipswich (C)</option>
					<option>Isaac (R)</option>
					<option>Kowanyama (S)</option>
					<option>Lockhart River (S)</option>
					<option>Lockyer Valley (R)</option>
					<option>Logan (C)</option>
					<option>Longreach (R)</option>
					<option>Mackay (R)</option>
					<option>Mapoon (S)</option>
					<option>Maranoa (R)</option>
					<option>Mareeba (S)</option>
					<option>Mckinlay (S)</option>
					<option>Moreton Bay (R)</option>
					<option>Mornington (S)</option>
					<option>Mount Isa (C)</option>
					<option>Multiple</option>
					<option>Murweh (S)</option>
					<option>Napranum (S)</option>
					<option>North Burnett (R)</option>
					<option>Northern Peninsula Area (R)</option>
					<option>Palm Island (S)</option>
					<option>Paroo (S)</option>
					<option>Pormpuraaw (S)</option>
					<option>Quilpie (S)</option>
					<option>Redland (C)</option>
					<option>Richmond (S)</option>
					<option>Rockhampton (R)</option>
					<option>Scenic Rim (R)</option>
					<option>Somerset (R)</option>
					<option>South Burnett (R)</option>
					<option>Southern Downs (R)</option>
					<option>Sunshine Coast (R)</option>
					<option>Tablelands (R)</option>
					<option>Toowoomba (R)</option>
					<option>Torres (S)</option>
					<option>Torres Strait Island (R)</option>
					<option>Townsville (C)</option>
					<option>Weipa Town</option>
					<option>Western Downs (R)</option>
					<option>Whitsunday (R)</option>
					<option>Winton (S)</option>
					<option>Woorabinda (S)</option>
					<option>Wujal Wujal (S)</option>
					<option>Yarrabah (S)</option>
				</select>
			</li>
			<li>
				<label for="FinancialYear"><span class="label">Financial year</span></label>
				<select id="FinancialYear" name="FinancialYear">
					<option>2013-14</option>
					<option>2012-13</option>
				</select>
			</li>
		</ol></div>	
		<ol class="footer-section questions">
			<li class="footer">
				<ul class="actions">
					<li><strong><input type="submit" value="Search" /></strong></li>
				</ul>
			</li>
		</ol>	
	</form>
</div>