h1 {
  color: $headings-top-level;
  font-family: $lato;
  font-weight: 900;
  letter-spacing: .01em;
  line-height: 1.1;
  margin: 0.5em -.4em 0.3em;
  padding: .5em .4em .3em;
  clear: left;
}

h2, h3 {
  color: $headings-top-level;
  font-family: $lato;
  font-weight: 900;
}

h4, h5, h6 {
  color: $headings-bottom-level;
  font-family: $lato;
  font-weight: 400;
}