<div class="aside search">
	<div><h2>Refine your search</h2></div>
	<form>
		<div class="exlayouttable"><ol class="questions form-section">
			<li>
				<fieldset>
			        <legend><span class="label">Platform</span> </legend>
			        <ul class="choices">
						<li><input type="radio" name="Platform" id="platform-all" value="" checked="checked"  /><label for="platform-all">All</label></li>
						<li><input type="radio" name="Platform" id="platform-android" value="Android" /><label for="platform-android">Android apps</label></li>
						<li><input type="radio" name="Platform" id="platform-apple" value="Apple iOS" /><label for="platform-apple">Apple iOS apps</label></li>
						<li><input type="radio" name="Platform" id="platform-web" value="Website" /><label for="platform-web">Website</label></li>
						<li><input type="radio" name="Platform" id="platform-windows" value="Windows mobile" /><label for="platform-windows">Windows mobile apps</label></li>
			        </ul>
			    </fieldset>
			</li>
			<li>
				<label for="Category"><span class="label">Category</span></label>
				<select size="7" id="Category" name="Category">
					<option value="" selected="selected">All</option>
					<option>Arts, culture and entertainment</option>
					<option>Be safe</option>
					<option>Finding help</option>
					<option>Getting involved</option>
					<option>Good relationships</option>
					<option>Learning and earning</option>
					<option>Life skills</option>
					<option>Mind, body and soul</option>
					<option>Money wise</option>
				</select>
			</li>
		</ol></div>	
		<ol class="footer-section questions">
			<li class="footer">
				<ul class="actions">
					<li><strong><input type="submit" value="Refine" /></strong></li>
				</ul>
			</li>
		</ol>	
	</form>
</div>