<div class="chartObjLg">
	<h2><span id="total-visitors"></span><small>Unique visitors to qld.gov.au in August 2014</small></h2>
	<div id="unique-visitors"></div>
	<div id="article">
		<div id="tabs" class="swe-horizontal">
			<div class="st_tabs">
				<div class="st_tabs_wrap">
					<ul class="st_tabs_ul">
						<li>
							<a href="#chart" class="st_tab_first" id="chart-tab-button">Chart</a>
						</li>
						<li>
							<a href="#table" id="table-tab-button">Table</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="st_views" id="visitors">
				<div class="chart st_view">
					<div class="st_view_inner">
						<div id="unique-visitors-chart"></div>
					</div>
				</div>
				<div class="table st_view">
					<div class="st_view_inner">
						<div id="unique-visitors-table">
							<table id="unique-visitors-table-cells">
								<caption>Unique visitors to qld.gov.au</caption>
								<thead>
									<tr>
										<th class="qgSBC-title">Day</th>
										<th class="qgSBC-value">Visitors</th>
									</tr>
								</thead>

								<tbody>
								</tbody>
		                    </table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>