<div class="aside search">
	<div><h2>Find services</h2></div>
	<form>
		<div class="exlayouttable"><ol class="questions form-section">
			<li class="text">
				<label for="query">Keyword</label>
				<input accesskey="5" type="search" name="query" id="query" size="25" value="" />
			</li>
			<li>
				<label for="Category"><span class="label">Category</span></label>
				<select size="7" id="Category" name="Category">
					<option value="" selected="selected">All</option>
					<option>Aboriginal and Torres Strait Islander peoples</option>
					<option>Business and industry</option>
					<option>Community support</option>
					<option>Education and training</option>
					<option>Emergency services and safety</option>
					<option>Employment and jobs</option>
					<option>Environment, land and water</option>
					<option>Health and wellbeing</option>
					<option>Homes and housing</option>
					<option>Parents and families</option>
					<option>People with disability</option>
					<option>Queensland and its government</option>
					<option>Recreation, sports and arts</option>
					<option>Seniors</option>
					<option>Transport and motoring</option>
					<option>Your rights, crime and the law</option>
					<option>Youth</option>
				</select>
			</li>
		</ol></div>
		<ol class="footer-section questions">
			<li class="footer">
				<ul class="actions">
					<li><strong><input type="submit" value="Refine" /></strong></li>
				</ul>
			</li>
		</ol>	
	</form>
</div>