<h2>Online services</h2>
<div id="article">
	<div id="tabs" class="swe-horizontal">
		<div class="st_tabs">
			<div class="st_tabs_wrap">
				<ul class="st_tabs_ul">
					<li>
						<a href="#chart" class="st_tab_first" id="chart-tab-button">Chart</a>
					</li>
					<li>
						<a href="#table" id="table-tab-button">Table</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="st_views" id="categories">
			<div class="chart st_view">
				<div class="st_view_inner">
					<div id="deptdatatree" class="QGTreeMap"></div>
				</div>
			</div>
			<div class="table st_view">
				<div class="st_view_inner">
					<div id="category-table">
						<table id="data-table-tree-map">
							<caption>Department data</caption>
							<thead>
								<tr>
									<th class="qgTM-title">Title</th>
									<th class="qgTM-value">Services</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>