<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-AU" xml:lang="en-AU">

<!--#set var="franchise" value="law"-->
<!--#set var="franchiseTitle" value="Your rights, crime and the law"-->


<!--#set var="DCTERMS_created" value="2012-11-09" -->
<!--#set var="AGLSTERMS_function" value="JUSTICE ADMINISTRATION" -->


<!--#set var="breadcrumb" value="/law/assets/includes/courthouses-breadcrumb.html" -->
<!--#set var="section_nav_h2" value="Courthouse locations" -->


<!--#include virtual="/assets/includes/dynamic/counters/view.php?${QUERY_STRING}&dataset=courthouses" -->

</html>
