
body.home .qg-global-survey{
	display: none;
}

.qg-global-survey.qg-survey{
	max-width: 82rem;
	overflow: auto;
	margin: 1rem auto;
	padding: 1em 2em 1em 5.125em;
	background-color: #fcf8e3;
	border: 1px solid #faebcc;
	color: #8a6d3b;
}
	.qg-global-survey.qg-survey:before{
		position: absolute;
		display: block;

		margin-top: 0.4rem;
		margin-left: -3.5rem;

		background: transparent;
		color: #8a6d3b;
	}
		.qg-global-survey.qg-survey:hover:before{
			background: transparent;
			color: #8a6d3b;
		}
	.qg-global-survey.qg-survey h2, .qg-global-survey.qg-survey p{
		margin: 0;
		color: #8a6d3b;
	}

	.qg-global-survey.qg-survey h2{
		margin-top: 0;
	}
.qg-global-survey .qg-gs-content, .qg-global-survey .qg-gs-actions{
	margin: auto 2rem 1rem auto;
}
	.qg-global-survey.qg-survey .qg-gs-content > * + *{
		margin-top: 1rem;
	}
.qg-global-survey .qg-gs-actions{
	margin-left: -5.125em;
	margin-right: auto;
	text-align: center;
}
	.qg-global-survey a.qg-btn, .qg-global-survey a.qg-btn:link, .qg-global-survey a.qg-btn:focus, .qg-global-survey a.qg-btn:visited{
		display: inline-block;

		padding: 0.2rem 1.2rem;

		background: #F8D87B;
		outline: 0;
		border-radius: 25px;

		color: #000;
		line-height: 1.5em;
		text-decoration: none;
	}
	.qg-global-survey a.qg-btn:active{
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	}
	.qg-global-survey a.qg-btn:hover{
		background: #f2cb58;
	}

@media screen and (min-width: 1100px) {
	.qg-global-survey .qg-gs-content{ float: left; }
	.qg-global-survey .qg-gs-actions{
		float: right;
		margin: auto 2rem 1rem auto;
	}
}

