/* Page options (medium) */
#post-page-options li {
  float: left;
  padding: em(22) 0 em(20) em(50);
  width: 50%;
}
#post-page-options li.share {
  float: right;
  background: transparent;
  padding: em(22) em(50) em(20) 0;
  text-align: right;
  width: 33%;

  a {
    &, :link, :visited {
      color: $post-page-options-color;
    }
  }
}
