@media screen,projection,tv,handheld {
	.loading {
		background-image: url("../images/skin/loading-black-on-white.gif");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		min-height: 24px;
	}
}
