<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-AU" xml:lang="en-AU">

<!--#set var="franchise" value="housing"-->
<!--#set var="franchiseTitle" value="Homes and housing"-->


<!--#set var="DCTERMS_creator" value="c=AU; o=The State of Queensland; ou=Department of Housing and Public Works; ou=External Relations" -->
<!--#set var="DCTERMS_created" value="2012-11-27" -->
<!--#set var="AGLSTERMS_function" value="COMMUNITY SERVICES - Accommodation services - Public housing entitlements" -->
<!--#set var="DCTERMS_audience" value="low income earners;men;migrants;non-government organisations;people with disabilities;Queensland;rural;seniors;women" -->


<!--#set var="breadcrumb" value="/housing/assets/nav/public-community-housing/service-centre-breadcrumb.html" -->
<!--#set var="section_nav_h2" value="Contact a Housing service centre" -->


<!--#include virtual="/assets/includes/dynamic/counters/view.php?${QUERY_STRING}&dataset=housing-service-centres" -->

</html>
