<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-AU" lang="en-AU"><!-- InstanceBegin template="/Templates/content-default.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- InstanceParam name="leftMenu" type="URL" value="transport-contacts.html" -->
    <!-- InstanceParam name="meta01PageTitle" type="text" value="Transport and motoring service centres" -->
    <!-- InstanceParam name="meta02Alternative" type="text" value="" -->
    <!-- InstanceParam name="meta03Keywords" type="text" value="Queensland, state, motoring, auto, motorcycle, licence, license, registration, rego, transport, service centre, customer service centre, qgap" -->
    <!-- InstanceParam name="meta04Description" type="text" value="Find a location near you that offers transport and motoring services." -->
    <!-- InstanceParam name="meta05Subject" type="text" value="" -->
    <!-- InstanceParam name="meta06Type" type="text" value="Text" -->
    <!-- InstanceParam name="meta07AGLSType" type="text" value="guidelines" -->
    <!-- InstanceParam name="meta08Function" type="text" value="" -->
    <!-- InstanceParam name="meta10Audience" type="text" value="Queensland" -->
    <!-- InstanceParam name="meta11Jurisdiction" type="text" value="Queensland" -->
    <!-- InstanceParam name="meta13License" type="text" value="http://creativecommons.org/licenses/by/3.0/au/" -->
    <!-- InstanceParam name="meta14Created" type="text" value="2011-11-07" -->
    <!-- InstanceParam name="meta15Modified" type="text" value="2015-11-24" -->
  	<!-- InstanceParam name="meta16Creator" type="text" value="c=AU; o=The State of Queensland; ou=Department of Transport and Main Roads" -->
  	<!-- InstanceParam name="meta17Publisher" type="text" value="corporateName=The State of Queensland; jurisdiction=Queensland" -->
    <!-- InstanceParam name="yourFranchise" type="text" value="Transport and motoring" -->
    <!-- InstanceParam name="modifiedDateHuman" type="text" value="3 September 2015" -->

    <title>{{Title}} | Find a Q-Ride training provider | Transport and motoring | Queensland Government</title>
<!--#set var="franchise" value="transport"-->
<!--#set var="title" value="Transport and motoring service centres"-->
<!--#set var="licence" value="http://creativecommons.org/licenses/by/3.0/au/"-->
<!--#include virtual="/assets/includes/global/head-assets.html"-->

    <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" />
    <link rel="schema.AGLSTERMS" href="http://www.agls.gov.au/agls/terms/" />
    <meta name="DCTERMS.title" content="Transport and motoring service centres | Transport and motoring" />
    <meta name="DCTERMS.alternative" content="" />
    <meta name="keywords" content="Queensland, state, motoring, auto, motorcycle, licence, license, registration, rego, transport, service centre, customer service centre, qgap" />
    <meta name="DCTERMS.description" content="Find a location near you that offers transport and motoring services." />
    <meta name="description" content="Find a location near you that offers transport and motoring services." />
    <meta name="DCTERMS.subject" scheme="AGLSTERMS.APAIS" content="" />
    <meta name="DCTERMS.type" scheme="DCTERMS.DCMIType" content="Text" />
    <meta name="AGLSTERMS.documentType" scheme="AGLSTERMS.agls-document" content="guidelines" />
    <meta name="DCTERMS.function" scheme="AGLSTERMS.AGIFT" content="" />
<!--#include virtual="/assets/includes/global/head-meta-identifier.html"-->
    <meta name="DCTERMS.audience" scheme="AGLSTERMS.agls-audience" content="Queensland" />
    <meta name="DCTERMS.jurisdiction" scheme="AGLSTERMS.AglsJuri" content="Queensland" />
    <meta name="DCTERMS.license" scheme="DCTERMS.URI" content="https://creativecommons.org/licenses/by/4.0/" />
    <meta name="DCTERMS.created" content="2011-11-07" />
    <meta name="DCTERMS.modified" content="2015-11-24" />
    <meta name="DCTERMS.creator" scheme="AGLSTERMS.GOLD" content="c=AU; o=The State of Queensland; ou=Department of Transport and Main Roads" />
  	<meta name="DCTERMS.publisher" scheme="AGLSTERMS.AglsAgent" content="corporateName=The State of Queensland; jurisdiction=Queensland" />
    <!-- InstanceBeginEditable name="head" -->
    <!-- InstanceEndEditable -->
</head>

<body id="qld-gov-au" class="residents">

<!--#include virtual="/assets/includes/global/header.html"-->	
	
	<div id="page-container"><div class="max-width">
		<div id="breadcrumbs">
			<h2>You are here:</h2>
			<ol>
                <!--#include virtual="/assets/includes/global/breadcrumb-citizen.html"-->
				<li><a href="/transport/">Transport and motoring</a></li>
                <li><a href="/transport/licensing/">Licensing</a> </li>
                <li><a href="/transport/licensing/motorcycles/">Motorcycles</a></li>
                <li><a href="/transport/licensing/motorcycles/getting/">Getting a motorcycle licence</a></li>
                <li><a href="/transport/licensing/motorcycles/getting/trainer/">Find a Q-Ride training provider</a></li>
				<li class="last-child"></li>
			</ol>
		</div>
	
		<div id="content-container">
            <div id="content">
				<div class="article"><div class="box-sizing"><div class="border" id="article">
                
<!--#include virtual="/assets/includes/global/global-alert.html"-->

					<h1 id="page-heading"></h1>


                    <!--#include virtual="/assets/includes/global/page-options-pre.html"-->
                    <!-- InstanceBeginRepeat name="sections" --><!-- InstanceBeginRepeatEntry --><!-- InstanceBeginEditable name="edit-section" -->
                    <!--#include virtual="/assets/includes/global/page-options-pre.html"-->
								
                    <input id="data-url" type="hidden" data-set="transport-service-centres" data-url="https://data.qld.gov.au/dataset/q-ride-providers/resource/0647759d-9f68-44f9-bd7e-eb96d37d11e4" data-title-column="Title">

                    

                    

                    <!--#set var="action" value="../"--> 
                    <!--#include virtual="../form.html"-->
                    <div id="view" class="view-csv-data visuallyhidden">
                                    <div id="app-viewport-info">
                                        <div><dl class="grid">
                                            <dt>Address:</dt>
                                            <dd>[[{{Address 1}} ]][[{{Address 2}} ]][[<br>{{Suburb}}]] Qld[[ {{Postcode}}]]</dd>
                                        </dl></div>
                                        <div><dl class="grid">
                                            <dt>Contact details:</dt>
                                            [[<dd>{{md:Email}}</dd>]]
                                            [[<dd>{{md:Website}}</dd>]]
                                            [[<dd>{{Phone}}</dd>]]
                                            [[<dd>{{Phone 2}}</dd>]]
                                        </dl></div>
                                    </div>
                    </div>
                            <!--#include virtual="/assets/includes/dynamic/counters/view-opening-hours.html" -->


<!-- InstanceEndEditable --><!-- InstanceEndRepeatEntry --><!-- InstanceEndRepeat -->
				</div></div></div><!-- end .article, .box-sizing, .border -->
			</div><!-- end #content -->


            <div id="asides"><div class="box-sizing"><div class="border">
<!--#include virtual="/assets/includes/global/global-aside.html"-->
<!-- InstanceBeginRepeat name="asides" --><!-- InstanceBeginRepeatEntry --><!-- InstanceBeginEditable name="editable-asides" -->
            <div class="aside map">
                    <!--#include virtual="/assets/includes/dynamic/counters/view-static-map.html" -->
                    <div id="aside-address" class="view-csv-data visuallyhidden">
                        <div><div class="caption">[[{{Address 1}},]][[ {{Address 2}},]]<br />[[ {{Suburb}},]] Qld[[, {{Postcode}}]]</div></div>
                    </div>
                </div>

            <div class="aside tip">
<h2>Online services</h2>
								<p>You may be able to save a trip by using our <a href="http://www.tmr.qld.gov.au/Online-services.aspx">online services</a> instead.</p>
              </div>
<!-- InstanceEndEditable --><!-- InstanceEndRepeatEntry --><!-- InstanceBeginRepeatEntry --><!-- InstanceEndRepeatEntry --><!-- InstanceEndRepeat -->                
            </div></div></div><!-- end #asides, .box-sizing, .border -->

			<div id="meta-wrapper"><div class="meta-box-sizing"><div class="border">

				<div id="document-properties"><div class="box-sizing">
					<dl>
						
						<dt>Last updated</dt>
						<dd>3 September 2015</dd>
					</dl>
			  </div></div>
				
<!--#include virtual="/assets/includes/global/page-options-post.html"-->

			</div></div></div><!-- end #meta-wrapper, .meta-box-sizing, .border -->

		</div><!-- end #content-container -->
        
        <div id="nav-section">
                <div class="box-sizing">
                    <h2>
                        <a href="/transport/licensing/motorcycles/getting/">Getting a motorcycle licence</a>
                    </h2>
                    <ul>
                        <li><a href="/transport/licensing/motorcycles/getting/learner">Applying for an RE learner motorcycle licence</a></li>
                        <li>
                        <a href="/transport/licensing/motorcycles/getting/learning/">Learning to ride a motorcycle</a></li>
                        <li><a href="/transport/licensing/motorcycles/getting/upgrading/">Upgrading your motorcycle licence (Q-Ride and Q-SAFE)</a></li>
                        <li><a href="/transport/licensing/motorcycles/getting/trainer/">Find a Q-Ride training provider</a></li>
                        <li><a href="/transport/licensing/motorcycles/getting/rules/">Rules for RE provisional or open licences</a></li>
                        <li><a href="/transport/licensing/motorcycles/getting/moving/">Moving to a class R motorcycle licence</a></li>
                    </ul>
                </div>
            </div>
	
    </div></div><!-- end #page-container, .max-width -->

<!--#include virtual="/assets/includes/global/footer.html"-->
	<script type="text/javascript" src="/assets/script/apps/qgov-view-counters.js"></script>
    <script type="text/javascript">
        qg.swe.customMapScript = function(){
            $('#form-toggle').on('click',function(e){
                if($('#form-toggle').hasClass('up')){
                    $('#form-toggle').removeClass('up');
                    $('#app-viewport-tools-search').addClass('hide');
                }
                else {
                    $('#form-toggle').addClass('up');
                    $('#app-viewport-tools-search').removeClass('hide');
                }
                e.preventDefault();
            })
        }
    </script>
</body>
<!-- InstanceEnd --></html>
