/* Results items */

a.refine {
  font-size: 1.2em;
}

.search-results {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    clear: both;
  }

  h2, h3 {
    margin: 1em 0 0.5em;
    padding: 0;
    font-size: 120%;
    font-weight: normal;
    font-family: $font-search-results-heading;
    @include clearfix();
  }

  p, div {
    float: none;
    clear: both;
    padding: 0;
  }

  a {
    text-decoration: none;
    display: block;
    float: left;
  }

  a .result-title {
    text-decoration: underline;
  }

  .phone,
  .note {
    padding: 0.5em 0;
  }

  .phone p,
  .note p {
    padding: 0;
    margin: 0;
  }

  .meta {
    color: green;
    font-size: 100%;
    display: block;
    clear: both;
  }

  .meta a {
    float: none;
  }

  .meta a:hover,
  .meta a:active {
    text-decoration: underline;
  }

  .result-title {
    float: left;
    margin-right: 0.7em;
  }

  .recommended {
    color: $red;
    font-size: 80%;
    text-decoration: none;
  }

  .file-meta {
    color: $search-results-file-meta-color;
    font-size: 80%;
    padding-top: 0.15em;
  }

  .status {
    margin: 0.85em 0 0.5em 4em;
    padding: 1em 2em;

    h2 {
      margin: 0;
      padding: 0;
    }
  }
}

#view ul {
  margin-top: 0;
}

#view h4,
.search-results h4 {
  color: darken($qgov-silver, 25);
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 0.4em;
}

#view hr,
.search-results hr {
  border: 0;
  color: lighten($qgov-silver, 20);
  background-color: lighten($qgov-silver, 20);
  height: 1px;
  margin: 1.5em 0 1em;
}

/* smartjobs */

ol.jobs li {
  position: relative;
  margin: 1em 0 2.3em;
  padding-bottom: 2.3em;
  border-bottom: 1px solid $search-results-jobs-li-border-color;
}

ol.jobs h3 {
  float: left;
  margin-top: 0;
}

ol.jobs .search-description {
  clear: both;
  display: block;
  float: none;
  margin: 1em 0;
}

ol.jobs .type {
  display: block;
  clear: left;
  font-size: 90%;
}

ol.jobs .location {
  float: right;
  list-style: none;
  padding: 0;
  width: 15em;
  text-align: right;
}

ol.jobs .location li {
  margin: 0;
  padding: 0;
  border: none;
}

ol.jobs .meta {
  margin-right: 13em;
}

ol.jobs .meta time {
  color: $search-results-jobs-met-time-color;
  position: absolute;
  right: 0;
  width: 12em;
  text-align: right;
}

/* recommend results */
#search-recommended {
  margin: 2.75em 0 1.75em 0;
  clear: both;
  overflow: hidden;
}

.search-description {
  display: block;
  float: left;
  clear: both;
}

/* search results block */

h2.resultset-title {
  font-weight: normal;
  border-bottom: 1px solid $search-results-h2-resultset-title-border-color;
  border-top: 1px solid $search-results-h2-resultset-title-border-color;
  padding: 0.4em 0 0.3em 0;
  display: block;
  font-size: 120%;
  margin: 1em 0 0.83em;
}

.search-box-group {
  margin-bottom: 2em;
}

.search-utilities {
  font-size: 94%; /* 94% of 80% = 75% */
  line-height: 1.25em;
  /*float: left;*/
  margin: 1em 0;
}

.search-scope {
  font-size: 94%; /* 94% of 80% = 75% */
  margin-top: 0.5em;
  border: none;

  strong {
    float: left;
    color: $search-results-search-scope-strong-color;
    padding: 0;
    font-weight: normal;
    padding-right: 1em;
  }
}

.search-box-group {
  form {
    /*float: left;*/
    margin: 1em 0;
    padding: 0;
  }

  fieldset input {
    vertical-align: middle;
    margin-right: 0.2em;
  }

  fieldset label {
    margin-right: 1em;
  }
}

fieldset.search-inputs {
  margin: 0;
  padding: 0;
  border: none;
}

.search-query-body {
  font-size: 140%;
  margin-top: 0.1em;
}

.search-submit-body {
  padding: 0.2em 0.5em;
}

/* pagination */
/* .pagination is defined in another style sheet! */
#pagination {
  /*margin: 0.7em 0em 0em 3em;*/
  clear: both;
  margin: 1em 0;
  overflow: hidden;
}

#pagination ul {
  padding: 0;
}

#pagination li {
  display: block;
  list-style: none;
  float: left;
  margin: 0 0.3em;
}

#pagination li a {
  padding: 0 0.2em;
}

#pagination li.previous,
#pagination li.next {
  margin: 0;
}

#pagination li.previous {
  margin-right: 0.3em;
}
