<div class="aside search">
	<div><h2>Refine your search</h2></div>
	<form>
		<div class="exlayouttable"><ol class="questions form-section">
			<li>
				<fieldset>
			        <legend><span class="label">Mobile platform</span> </legend>
			        <ul class="choices">
						<li><input type="radio" name="Platform" id="platform-all" value="" checked="checked"  /><label for="platform-all">All</label></li>
						<li><input type="radio" name="Platform" id="platform-android" value="Android" /><label for="platform-android">Android</label></li>
						<li><input type="radio" name="Platform" id="platform-apple" value="Apple iOS" /><label for="platform-apple">Apple iOS</label></li>
						<li><input type="radio" name="Platform" id="platform-windows" value="Windows mobile" /><label for="platform-windows">Windows mobile</label></li>
			        </ul>
			    </fieldset>
			</li>
			<li>
				<label for="Category"><span class="label">Category</span></label>
				<select size="7" id="Category" name="Category">
					<option value="" selected="selected">All</option>
					<!-- <option>Aboriginal and Torres Strait Islander peoples</option> -->
					<option>About Queensland and its government</option>
					<option>Business and industry</option>
					<option>Community support</option>
					<option>Education and training</option>
					<option>Emergency services and safety</option>
					<!-- <option>Employment and jobs</option>
					<option>Environment, land and water</option> -->
					<option>Health and wellbeing</option>
					<!-- <option>Homes and housing</option>
					<option>Parents and families</option>
					<option>People with disability</option> -->
					<option>Recreation, sports and arts</option>
					<!-- <option>Seniors</option> -->
					<option>Transport and motoring</option>
					<option>Your rights, crime and the law</option>
					<!-- <option>Youth</option> -->
				</select>
			</li>
		</ol></div>	
		<ol class="footer-section questions">
			<li class="footer">
				<ul class="actions">
					<li><strong><input type="submit" value="Refine" /></strong></li>
				</ul>
			</li>
		</ol>	
	</form>
</div>